@font-face {
  font-family: 'Bebas Neue Cyrillic';
  src: local('Bebas Neue Cyrillic'), local('BebasNeueCyrillic'),
      url('../fonts/BebasNeueRegular.woff2') format('woff2'),
      url('../fonts/BebasNeueRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header{
  background-color: #635854;
  padding: 12px 0;
  border-bottom: 4px solid #3596F5;
}

.nav-bar {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar__menu {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  text-align: center;
}

.nav-bar__item {
  margin: 0 40px;
}

.nav-bar__link {
  text-decoration: none;
  color: #fff;
}

.nav-bar__contacts-title {
  display: block;
  margin-bottom: 4px;
  text-align: right;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.nav-bar__phone {
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
}

.main {
  max-width: 1280px;
  margin: auto;
  padding-top: 54px;
  display: flex;
}

.home__image path{
  opacity: 0;
  cursor: pointer;
}

.home__image path:hover {
  opacity: 1;
}

.main-info {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.counter-down {
  transform: rotateX(180deg);
}

.main-title {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-size: 37px;
  line-height: 37px;
  color: #635854;
}

.counter-text {
  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-size: 124px;
  margin-top: 10px;
  color: #635854;
}

.button-primary {
  padding: 16px 36px;
  background-color: #3596F5;
  color: #fff;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}


