@font-face {
  font-family: 'Bebas Neue Cyrillic';
  src: local('Bebas Neue Cyrillic'), local('BebasNeueCyrillic'),
      url('../fonts/BebasNeueRegular.woff2') format('woff2'),
      url('../fonts/BebasNeueRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header{
  background-color: #635854;
  padding: 12px 0;
  border-bottom: 4px solid #3596F5;
}

.nav-bar {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar__menu {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  text-align: center;
}

.nav-bar__item {
  margin: 0 40px;
}

.nav-bar__link {
  text-decoration: none;
  color: #fff;
}

.nav-bar__contacts-title {
  display: block;
  margin-bottom: 4px;
  text-align: right;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.nav-bar__phone {
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
}

.main {
  max-width: 1280px;
  margin: auto;
  padding-top: 54px;
  display: flex;
}

.home__image path{
  opacity: 0;
  cursor: pointer;
}

.home__image path:hover {
  opacity: 1;
}

.home__image .current-floor{
  opacity: 1;
}

.main-info {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.counter-down {
  transform: rotateX(180deg);
}

.main-title {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-size: 37px;
  line-height: 37px;
  color: #635854;
}

.floor-counter {
  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-size: 124px;
  margin-top: 10px;
  color: #635854;
}

.button-primary {
  padding: 16px 36px;
  background-color: #3596F5;
  color: #fff;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.4s, transform 0.4s;
}

.is-open {
  opacity: 1;
  transform: scale(1);
}

.modal-dialog {
  position: relative;
  display: flex;
  max-width: 1000px;
  min-height: 565px;
  background-color: #fff;
  opacity: 0;
  flex-grow: 1;
  transform: translateY(-20%);
  transition: transform 0.4s, opacity 0.4s;
  transition-delay: 0.5s;
}

.is-open > .modal-dialog {
  opacity: 1;
  transform: translateY(0);
}

.modal-image {
  padding: 50px;
  width: 60%;
  background-color: #EBEBEB;
  text-align: center;
}

.flats path {
  opacity: 0;
  cursor: pointer;
}

.flats path:hover {
  opacity: 1;
}

.flats .current-flat {
  opacity: 1;
}

.modal-title {
  font-family: 'Bebas Neue Cyrillic', sans-serif;
  margin-top: 0;
  margin-top: 25px;
  font-size: 24px;
  line-height: 24px;
}

.modal-info {
  width: 40%;
  padding: 50px 46px;
}

.flat-list {
  padding: 0;
  margin-top: 55px;
  list-style: none;
}

.flat-item {
  margin-bottom: 10px;
}

.flat-link {
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  text-decoration: none;
}

.flat-link:hover {
  color: #3596F5;
  text-decoration: underline;
}

.flat-link.current-flat{
  color: #3596F5;
  text-decoration: underline;
}

.modal-allert {
  margin-top: 56px;
  font-size: 16px;
  line-height: 19px;
  font-style: italic;
  color: #635854;
}

.modal-close-btn {
  position: absolute;
  top: 38px;
  right: 28px;
  cursor: pointer;
  border: none;
  background-color: #fff;
}